* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.web-dev-main {
  width: 100%;
  height: 100%;
  background-image: url(../assets/main-hero-section-01=bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
  overflow: hidden;
}

.web-dev-head {
  width: 100%;
  height: 70%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.web-dev-head h1 {
  color: #fff;
  font-family: "Manrope";
  font-size: 105px;
  width: 50%;
  font-style: normal;
  font-weight: 700;
  margin: auto !important;
  line-height: 98.7px;
  /* 94% */
  letter-spacing: normal !important;
}

.web-dev-head p {
  color: #fff;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  width: 50%;
  font-weight: 500;
  line-height: 25.2px;
  /* 140% */
  letter-spacing: -0.18px;
  text-transform: uppercase;
}

.keyClient {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
}

.key-pata {
  width: 100%;
  height: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.key-pata p {
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.2px;
  /* 140% */
  text-transform: uppercase;
}

.evolution-0001 {
  width: 90%;
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: row;
  margin-top: 12rem !important;
  gap: 2rem;
}

.evolution-form {
  width: 50% !important;
  height: 50%;
  display: flex;
  flex-direction: column;

  align-items: start;
}

.evolution-form p {
  color: #181818;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  /* 140% */
  letter-spacing: -0.48px;
}

.evolution-form input {
  border-radius: 28px;

  width: 420px;
  height: 56px;
  padding: 1rem 0 1rem 0;
  border-radius: 28px;
  background: #eee;
  border: none;
  color: #7d8387;

  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding-left: 2rem !important;
  margin-top: 1rem;
  outline: none;
  transition: all 0.2s ease;
}

.evolution-form input:focus {
  border-bottom: 3px solid #329683 !important;
}

.evolution-desing-002 {
  width: 100% !important;
}

.checb-0009 {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: row;
  gap: 0rem;
}

.checb-0009 input {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  border: none;
  outline: none;
  margin-left: -2rem;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid #329683 !important;
}

.checb-0009 p {
  color: #7d8387;
  font-family: "Manrope";
  font-size: 11px;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 15.4px;
  /* 140% */
}

.evolution0009 button {
  display: flex;
  width: 420px;
  min-height: 56px;
  padding: 0px 120.91px 0px 121.09px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #329683;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 140% */
  letter-spacing: -0.15px;
  text-transform: uppercase;
}

.TabChHead {
  color: #000 !important;
  font-family: "Manrope";
  padding: 1rem;
  border: none !important;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 100% */
  letter-spacing: -3.12px;
}

.TabChHeadActive {
  color: #329683 !important;
  font-family: "Manrope";
  padding: 1rem;
  border: none !important;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 100% */
  letter-spacing: -3.12px;
}

.evolutio-design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.REasereach-009 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.Reasearch-01-main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ev-ds-img {
  width: 240px;
  height: 240px;
  flex-shrink: 0;
}

.scoping-main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Reasearch-01-main p {
  color: #000;
  font-family: "Manrope";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding: 1rem 0 1rem 0;
  line-height: 21px;
  /* 140% */
}

.REsearch-des-g-evl img {
  width: 15.843px;
  height: 15.844px;
}

.REsearch-des-g-evl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #329683;
}

.REsearch-des-g-evl span {
  color: #7d8387;
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.2px;
  /* 140% */
}

.AcordingEvol {
  color: #000000 !important;
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px;
  /* 120% */
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.AcordingEvolActive {
  color: #329683 !important;
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px;
  /* 120% */
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.evolutio-design img {
  width: 64px;
  height: 64px;
}

.software-dev {
  width: 90%;
  height: 50%;
  margin-top: 7rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;

  gap: 5rem;
}

.dev-main {
  width: 40%;
  height: 100%;
}

.main-02 {
  width: 60%;
  height: 100%;
}

.de-new-01 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid transparent !important;
  transition: border-top 0.3s linear !important;
}

.de-new-01:hover {
  border-top: 1px solid rgba(19, 196, 163, 0.5) !important;
  /* Hover state with colored border */
}

.qurestion-head-001 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cutom-text {
  display: flex;
  flex-direction: row;
  margin-top: 0;

  margin-left: 10px;
  /* Adjust the margin as needed */
}

.de-new-01 h1 {
  color: #000;
  font-family: "Manrope";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;

  line-height: 52px;
  /* 100% */
  letter-spacing: -3.12px;
}

.de-new-01 button {
  background: transparent;
  outline: none;
  border: none;
}

.case-studies {
  width: 100%;
  height: 100%;
}

.case-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.case-head h1 {
  color: var(--Secondary, #329683);
  font-family: "Manrope";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 91px;
  /* 100% */
  letter-spacing: -2.46px;
  text-transform: uppercase;
  padding-left: 2rem;
}

.case-head button {
  display: flex;
  min-height: 56px;
  padding: 0px 40px;
  outline: none;
  border: none;
  color: var(--Base, #fff);
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 140% */
  letter-spacing: -0.15px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 23.66px;
  border-radius: 40px;
  background: var(--Secondary, #329683);
}

.case-study-card {
  width: 90%;
  height: 100%;

  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  overflow-x: hidden !important;
}

.card-study {
  display: flex;

  width: 31.5%;
  height: 100%;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.case-tittle-01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-project {
  color: var(--Secondary, #329683);
  font-family: "IBM Plex Mono", monospace;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  padding: 1rem 1rem 0 1rem;
  line-height: 15.4px;
  /* 140% */
  text-transform: uppercase;
}

.case-tilletle {
  color: #000;
  font-family: "Manrope";
  font-size: 48px;
  padding: 1rem 1rem 0 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  /* 120% */
  letter-spacing: -0.96px;
}

.aRrow-case img {
  padding: 1rem 1rem 0 1rem;
}

.last-para-case {
  color: #7d8387;
  font-family: "Manrope";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  /* 140% */
  letter-spacing: -0.36px;
  padding: 1rem 1rem 0 1rem;
}

.TabChanger-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Media Qureis */
@media only screen and (max-width: 460px) {
  .web-dev-main {
    width: 100% !important;
    height: 100% !important;
    background-image: url(../assets/main-hero-section-01=bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  .web-dev-head {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding: 0 !important;
    align-items: start !important;
  }

  .lets-01 {
    display: none;
  }

  .web-dev-head p {
    color: #fff;
    font-family: "Manrope";
    font-size: 14px !important;
    font-style: normal;
    width: 100% !important;
    font-weight: 500;
    line-height: 25.2px;

    letter-spacing: -0.18px;
    padding: 0 !important;
    text-transform: uppercase;
  }

  #web-den-head {
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: "Manrope";
    font-size: 40px !important;
    padding: 0 !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal !important;
    letter-spacing: normal;
  }

  .evolution-0001 {
    width: 90%;
    margin: auto;
    height: 100%;
    overflow: hidden !important;
    display: flex;
    flex-direction: column !important;
    margin-top: 0px !important;
    padding: 0 !important;
  }

  .evolution-form {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
  }

  .evolution-form p {
    color: #181818;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    /* 140% */
    letter-spacing: -0.48px;
  }
  .keyClient {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem !important;
  }
  .checb-0009 input {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 0 !important;
    border: none;
    margin-right: 0 !important;
    outline: none;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid #329683 !important;
  }

  .evolution-desing-002 {
    width: 100% !important;
  }

  .REasereach-009 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column !important;
    gap: 2rem;
  }

  .Reasearch-01-main {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column !important;
    gap: 5rem;
  }

  .ev-ds-img {
    width: 100%;
    padding: 2rem;
    height: 100%;
    flex-shrink: 0;
  }

  .scoping-main {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .evolution-form input {
    border-radius: 28px;

    width: 100% !important;
    height: 56px;
    padding: 1rem 0 1rem 0;
    border-radius: 28px;
    background: #eee;
    border: none;
    margin-top: 1rem;
    outline: none;
  }
  .evolution0009 {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .evolution0009 button {
    display: flex;
    width: 200px !important;
    min-height: 56px;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #329683;
    outline: none;
    border: none;
    color: #fff;
    flex-direction: row;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal !important;
    /* 140% */
    letter-spacing: normal !important;
    text-transform: uppercase;
  }

  .software-dev {
    width: 90% !important;
    overflow: hidden !important;
    height: 50%;
    margin-top: 7rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column !important;

    gap: 5rem;
  }

  .checb-0009 {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;

    align-items: start !important;
    justify-content: start !important;
    margin: 0 !important;
    padding: 0 !important;

    flex-direction: row;
    gap: 1rem !important;
  }

  .dev-main {
    width: 100% !important;
    height: 100%;
  }

  .main-02 {
    width: 100% !important;
    height: 100%;
  }

  .de-new-01 {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid rgba(19, 196, 163, 0.5);
  }

  .de-new-01 h1 {
    color: #000;
    font-family: "Manrope";
    font-size: 30px !important;
    font-style: normal;
    font-weight: 700;

    letter-spacing: normal !important;
  }

  .checb-0009 p {
    color: #7d8387;
    font-family: "Manrope";
    font-size: 11px;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;

    line-height: normal !important;
    margin-left: 0 !important;
  }

  .case-studies {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .case-head {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;

    align-items: center;
  }

  .case-head h1 {
    color: var(--Secondary, #329683);
    font-family: "Manrope";
    font-size: 30px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 91px;
    /* 100% */
    letter-spacing: normal !important;
    text-transform: uppercase;
  }

  .case-study-card {
    width: 90%;
    height: 100%;

    margin: auto;
    display: flex;
    flex-direction: column !important;
    gap: 5rem;
    overflow-x: hidden !important;
  }

  .card-study {
    display: flex;

    width: 100% !important;
    height: 100%;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .case-tittle-01 {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .case-tilletle {
    width: 100% !important;
    color: #000;
    font-family: "Manrope";
    font-size: 38px;
    padding: 1rem 1rem 0 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px;
    /* 120% */
    letter-spacing: -0.96px;
  }

  .case-tittle-01 {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
  }
  .TabChHead {
    color: #000 !important;
    font-family: "Manrope";
    padding: 1rem;
    border: none !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal !important;

    letter-spacing: normal !important;
  }

  .TabChHeadActive {
    color: #329683 !important;
    font-family: "Manrope";
    padding: 1rem;
    border: none !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal !important;
    /* 100% */
    letter-spacing: normal !important;
  }
  .evolution0009 button {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    border-radius: 40px;
    background: #329683;
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal !important;

    letter-spacing: normal !important;
    text-transform: uppercase;
  }
  .AcordingEvol {
    color: #000000 !important;
    font-family: "Manrope";
    font-size: 15px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal !important;

    letter-spacing: normal !important;
    text-transform: uppercase;
  }
  .AcordingEvolActive {
    color: #329683 !important;
    font-family: "Manrope";
    font-size: 15px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal !important;

    letter-spacing: normal !important;
    text-transform: uppercase;
  }
}
